# pandas

In [10]:
import pandas as pd
import numpy as np
pd.__version__

'2.0.3'

# creating SERIES
- In pandas, a Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It is similar to a Python list or NumPy array but with additional functionalities. Each element in a Series has a label, called the index. You can think of a Series as a column in a spreadsheet or a single column of data in a DataFrame (which is essentially a collection of Series).

In [4]:
lst =[1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
arr = np.array(lst)
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### giving index from our side by default it start from 0

In [9]:
pd.Series(data = ["Rohit","Roshan"],index=[23,25])

23     Rohit
25    Roshan
dtype: object

### series through dict

In [11]:
d = {1:"a",2:"b"}
pd.Series(d)

1    a
2    b
dtype: object

### using repeat function along with creating a series
pandas series.repeat()fun rep elements of a series. 
return a new series where each element of the current series is repeated consecutively a given times.

In [13]:
pd.Series(5).repeat(5)

0    5
0    5
0    5
0    5
0    5
dtype: int64

#### we can use reset_index to get accurate index

In [18]:
pd.Series(5).repeat(5).reset_index()

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [21]:
data = pd.Series([1,2]).repeat([4,2]).reset_index(drop=True)
print(data)

0    1
1    1
2    1
3    1
4    2
5    2
dtype: int64

In [22]:
#  Acccessing Element
data[4]

2

In [33]:
data[::-1]

5    2
4    2
3    1
2    1
1    1
0    1
dtype: int64

## Aggregate functions on pands
- pandas Series.aggregate() functions using one or more operations over the specified axis in thegiven series objects .

In [45]:
np.random.seed(9)
arr = np.random.randint(1,10,8,dtype=int)
sr = pd.Series(arr)
print(sr)
sr.agg([min,max,sum])

0    6
1    7
2    9
3    7
4    2
5    7
6    5
7    9
dtype: int64

min     2
max     9
sum    52
dtype: int64

### Series Absolute functions
pandas Series.abs() method is used to get the absolute numeric value of each element in series/Data frame.

In [46]:
s = pd.Series([-1,2,-3,-4,5,-10])
s.abs()

0     1
1     2
2     3
3     4
4     5
5    10
dtype: int64

### Append series
pandas.append() functions is used to concatenate two or more series

In [55]:
sr1 = pd.Series([1,-2,3])
sr2 = pd.Series([1,2,3])

In [58]:
print(sr1._append(sr2))
print("-"*10)
print(sr2._append(sr1))

0    1
1   -2
2    3
0    1
1    2
2    3
dtype: int64
----------
0    1
1    2
2    3
0    1
1   -2
2    3
dtype: int64

### Astype function
it is used to change data type of a series

In [66]:
print(type(sr1[0]))
print(sr1.astype('float'))

<class 'numpy.int64'>
0    1.0
1   -2.0
2    3.0
dtype: float64

### Between functions
used on series to check which value lie between first and last

In [67]:
sr = pd.Series([1,2,3,4,3,6,10,9])
sr.between(1,10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

## All strings functions can be used to extract or modify texts in a series
 - Upper and Lower Function
 - Len function
 - Strip Function
 - Split Function
 - Contains Function
 - Replace Function
 - Count Function
 - Startswith and Endswith Function
 - Find Finction

In [69]:
ser = pd.Series(["Eshant Das" , "Data Science" , "Geeks for Geeks" , 'Hello World' , 'Machine Learning'])
ser

0          Eshant Das
1        Data Science
2     Geeks for Geeks
3         Hello World
4    Machine Learning
dtype: object

In [94]:
print(ser.str.upper())
print("-"*20)
print(ser.str.lower())
print("-"*20)
print(ser.str.len())
print("-"*20)
print(ser.str.strip())
print("-"*20)
print(ser.str.contains('r'))
print("-"*20)
print(ser.str.replace('r','z'))
print("-"*20)
print(ser.str.count('r'))
print("-"*20)
print(ser.str.startswith('D'))
print("-"*20)
print(ser.str.endswith('s'))
print("-"*20)
print(ser.str.find('s'))

0          ESHANT DAS
1        DATA SCIENCE
2     GEEKS FOR GEEKS
3         HELLO WORLD
4    MACHINE LEARNING
dtype: object
--------------------
0          eshant das
1        data science
2     geeks for geeks
3         hello world
4    machine learning
dtype: object
--------------------
0    10
1    12
2    15
3    11
4    16
dtype: int64
--------------------
0          Eshant Das
1        Data Science
2     Geeks for Geeks
3         Hello World
4    Machine Learning
dtype: object
--------------------
0    False
1    False
2     True
3     True
4     True
dtype: bool
--------------------
0          Eshant Das
1        Data Science
2     Geeks foz Geeks
3         Hello Wozld
4    Machine Leazning
dtype: object
--------------------
0    0
1    0
2    1
3    1
4    1
dtype: int64
--------------------
0    False
1     True
2    False
3    False
4    False
dtype: bool
--------------------
0     True
1    False
2     True
3    False
4    False
dtype: bool
--------------------
0    1
1   -1
2    4
3   -1
4   -1
dtype: int64

### split

In [93]:
print("full name : ",ser[0])
print("first name : ",ser.str.split(' ')[0][0])
print("last name : ",ser.str.split(' ')[0][1])

full name :  Eshant Das
first name :  Eshant
last name :  Das

## Converting series to List